{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>M.Dias - Vídeo Analytics</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <img src="{% static 'imagens/LogoMDias.png' %}" alt="Logo M.Dias Branco" width="200px" height="100px">
        <h1 class="title">Vídeo Analytics</h1>
    </header>

    <div class="content-container">

        <div class="video-container">
            <img width="100%" height="450" src="{% url 'video_feed' %}" alt = ""></img>
        </div>

        <div class="text-box">
            <p><img width="180" height="120" src="{% url 'detect_feed' %}" alt=""></p>
            <h1>Contador:</h1>
            <h2><span class="contador-verde">56</span> <span class="texto-classe">Padrão</span></h2>
            <h2><span class="contador-vermelho">10</span> <span class="texto-classe">Claro</span></h2>
            <h2><span class="contador-vermelho">3</span> <span class="texto-classe">Escuro</span></h2>
            <button class="meu_botao">Meu Botão</button>
        </div>

    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
